# Node.js dependencies
node_modules/
npm-debug.log
package-lock.json

# Logs
logs/
*.log

# Environment variables
.env

# Build output
/dist
/build

# Temporary files
*.tmp

# IDE and editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Testing
coverage/

*.db

*.mhtml